@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fruktur', cursive;
}

body {
    background: #010405;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sec {
    position: relative;
    padding: 100px;
    text-align: center;
}