@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fruktur', cursive;
}

body {
    background: #010405;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #010405, transparent);
    z-index: 100000;
}

section img {
    position: absolute;
    max-width: 100%;
}

.sec {
    position: relative;
    padding: 100px;
    text-align: center;
}

.sec h2 {
    font-size: 5em;
    color: #ff9425;
    margin-bottom: 20px;
}

.sec p {
    font-size: 1.2em;
    color: #fff;
    line-height: 1.5em;
    font-family: consolas;
}

#wolf {
    right: 0;
    bottom: 0;
    width: 80%;
}

#castle {
    left: 200px;
    bottom: 0px;
    width: 20%;
}

#witch {
    width: 20%;
}